<html>

<head>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<script src="vue.min.js"></script>
	<script src="vue-router.min.js"></script>
	<link rel="stylesheet" href="css/plm.css" />
	<link rel="stylesheet" href="css/a.css" />
</head>

<body>
	<script defer src="bundle.js"></script>
	<div id="app">
		<router-view></router-view>
	</div>
	<template id="menuTpl">
		<div class="frm">
			<div class="btn b1" @click="newGame">New Game</div><br />
			<router-link to="/saves" tag="div" class="btn b1">Saves</router-link>
		</div>
	</template>
	<template id="editorTpl">
		<div class="frm frm1">
			<div style="margin:10px">
				Name:<input v-model="name" />
				<span class="btn" @click="load">Open</span>
			</div>
			<div class="frm1" style="flex-grow:1;flex-wrap:wrap;align-content:space-between">
				<div style="width:19%;height:100%;border:1px dashed">
					<div class="btn" style="margin:3px" @click="newSection">New</div>
					<p class="item" v-for="s of lst" @click="open(s)">{{s}}</p>
				</div>
				<div style="text-align:left;margin:10px">
					Current:<input v-model="id" />
					<span class="btn" @click="newSection(id)">Open</span>
				</div>
				<textarea style="width:79%;flex-grow:1" v-model="ctx" @change="submit"></textarea>
			</div>
		</div>
	</template>
	<template id="gameTpl">
		<div tabindex="0" :style="{backgroundImage:`url(${$root.resURL}${state.bimg || '/transparent.png'})`}"
			class="frm gameFrm" ref="gameFrm" @keydown.space="doNext" @keydown.s="saveInLocalStorage" @keydown.a="test"
			@touchmove.prevent>
			<div class="dialogue" @click="doNext">
				<transition name="nf1">
					<div key=0 class="dC frm1"
						style="background-image:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%)"
						v-if="state.char">
						<div class="char" v-text="state.char"></div>
						<div class="txt">
							<span v-html="state.text"></span><span class="typing"></span>
						</div>
					</div>
					<div key=1 class="dC frm1"
						style="border-top:solid #222 4px;background-image:linear-gradient(to right,rgba(180,180,180,0) 0%,rgba(180,180,180,1) 20%,rgba(180,180,180,1) 80%,rgba(180,180,180,0) 100%)"
						v-else>
						<div class="txt">
							<span v-html="state.text"></span><span class="typing"></span>
						</div>
					</div>
				</transition>
			</div>
			<transition name="fadein">
				<div class="opts" v-if="state.opt!=null">
					<span v-for="i of state.opt[1].length">
						<span class="opt" @click="choose(i-1)">
							{{state.opt[1][i-1]}}
						</span>
						<br />
					</span>
				</div>
			</transition>
		</div>
	</template>
	<template id="savesTpl">
		<div class="frm">
			<span v-for="i of lst">
				<div class="btn b1" @click="start(localStorage['save_'+i.name])">
					{{i.name}}<br />
					<div v-html="(i.char?i.char+':':'')+i.txt" class="lasttxt"></div>
				</div>
				<br />
			</span>
		</div>
	</template>
</body>

</html>